@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
.container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

* {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.spaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.centerCol {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#mode {
  display: flex;
  align-items: center;
  cursor: pointer;
}
#mode p {
  margin-right: 20px;
  font-family: "Space Mono";
  font-weight: 700;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 2.5px;
}

header {
  width: 87%;
  max-width: 730px;
}
header h1 {
  font-family: "Space Mono";
  font-weight: 700;
  font-size: 26px;
  line-height: 39px;
}

#search {
  width: 87%;
  max-width: 730px;
  margin-top: 36px;
  padding: 10px 10px 10px 32px;
  border-radius: 15px;
  flex-wrap: nowrap;
}
#search .left {
  width: 50%;
}
#search .left form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#search .left label img {
  width: 21px;
  height: 21px;
  margin-right: 26px;
}
#search .left input {
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  font-family: "Space Mono";
  font-weight: 400;
  font-size: 1em;
  line-height: 25px;
  /* clears the ‘X’ from Internet Explorer */
  /* clears the ‘X’ from Chrome */
}
#search .left input::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
#search .left input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
#search .left input::-webkit-search-decoration, #search .left input::-webkit-search-cancel-button, #search .left input::-webkit-search-results-button, #search .left input::-webkit-search-results-decoration {
  display: none;
}
#search button {
  height: 50px;
  width: 106px;
  border-radius: 10px;
  background-color: #0079FF;
  border: none;
  font-family: "Space Mono";
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: white;
}
#search button:hover {
  background-color: #60ABFF;
}
#search .notFound {
  font-family: "Space Mono";
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #F74646;
  margin-right: 24px;
}

main {
  width: 87%;
  max-width: 730px;
  margin-top: 24px;
  padding: 48px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
main .top {
  width: 100%;
}
main .top img {
  width: 117px;
  height: 117px;
  border-radius: 50%;
}
main .top .info {
  width: 75%;
}
main .top .info .info_top {
  gap: 5px;
}
main .top .info .info_top .left h2 {
  font-family: "Space Mono";
  font-weight: 700;
  font-size: 26px;
  line-height: 39px;
}
main .top .info .info_top .left p {
  font-family: "Space Mono";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #0079FF;
}
main .top .info .info_top .right p {
  font-family: "Space Mono";
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
}
main .top .info .info_bot {
  font-family: "Space Mono";
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
}
main .box {
  height: 85px;
  width: 480px;
  border-radius: 10px;
  display: flex;
  gap: 90px;
  align-items: center;
  padding-left: 32px;
}
main .box .type {
  font-family: "Space Mono";
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
}
main .box .num {
  font-family: "Space Mono";
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  text-transform: uppercase;
}
main .bottom {
  width: 480px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 37px;
  gap: 19px;
}
main .bottom div {
  width: 220px;
  justify-content: flex-start;
}
main .bottom div:first-child p {
  margin-left: 22px !important;
}
main .bottom div p {
  font-family: "Space Mono";
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  margin-left: 16px;
}
main .bottom div a {
  font-family: "Space Mono";
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  margin-left: 16px;
}
main .bottom div a:hover {
  text-decoration: underline;
}/*# sourceMappingURL=style.css.map */